<h1>Destinations#new</h1>
<p>Find me in app/views/destinations/new.html.erb</p>

<h2><%= link_to "Back to Posts", posts_path %></h2>
<h2><%= link_to "Back to Destinations", destinations_path %></h2>
<h2><%= link_to "Back to Bloggers", bloggers_path %></h2>